
@{
     ViewBag.Title = "Blog";
}



<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-blog set-bg" data-setbg="../Images/blog/Blog10.png">
     <div class="container">
          <div class="row">
               <div class="col-lg-12">
                    <h2>Our Blog</h2>
               </div>
          </div>
     </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Blog Section Begin -->
<section class="blog spad">
     <div class="container">
          <div class="row">
               <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                         <div class="blog__item__text">
                              <span><img src="../Images/blog/Blog9.jpg" alt=""> 16 February 2024</span>
                              <h5>Ce rochii de mireasă sunt cele mai populare în 2024?</h5>
                              <a href="#">Vezi mai mult</a>
                         </div>
                    </div>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                         <div class="blog__item__text">
                              <span><img src="../Images/blog/Blog2.jpg" alt=""> 21 February 2024</span>
                              <h5>Tendințele de nuntă pentru sezonul 2024</h5>
                              <a href="#">Vezi mai mult</a>
                         </div>
                    </div>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                         <div class="blog__item__text">
                              <span><img src="../Images/blog/Blog3.jpg" alt=""> 28 February 2024</span>
                              <h5>Cum să alegi rochia de mireasă perfectă pentru silueta ta</h5>
                              <a href="#">Vezi mai mult</a>
                         </div>
                    </div>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                         <div class="blog__item__text">
                              <span><img src="../Images/blog/Blog4.jpg" alt=""> 16 February 2024</span>
                              <h5>Rochii de mireasă inspirate din povești</h5>
                              <a href="#">Vezi mai mult</a>
                         </div>
                    </div>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                         <div class="blog__item__text">
                              <span><img src="../Images/blog/Blog5.jpg" alt=""> 21 February 2024</span>
                              <h5>Cum să alegi materialul potrivit pentru rochia ta de mireasă</h5>
                              <a href="#">Vezi mai mult</a>
                         </div>
                    </div>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                         <div class="blog__item__text">
                              <span><img src="../Images/blog/Blog6.jpg" alt=""> 28 February 2024</span>
                              <h5>Rochii de mireasă pentru ceremonii în aer liber</h5>
                              <a href="#">Vezi mai mult</a>
                         </div>
                    </div>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                         <div class="blog__item__text">
                              <span><img src="../Images/blog/Blog7.jpg" alt=""> 16 February 2024</span>
                              <h5>Stiluri clasice vs. moderne: Ce rochie de mireasă să alegi?</h5>
                              <a href="#">Vezi mai mult</a>
                         </div>
                    </div>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                         <div class="blog__item__text">
                              <span><img src="../Images/blog/Blog8.jpg" alt=""> 21 February 2024</span>
                              <h5>Cum să personalizezi rochia de mireasă pentru a fi unică</h5>
                              <a href="#">Vezi mai mult</a>
                         </div>
                    </div>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                         <div class="blog__item__text">
                              <span><img src="../Images/blog/Blog1.jpg" alt=""> 28 February 2024</span>
                              <h5>Top 10 rochii de mireasă pentru anul 2024</h5>
                              <a href="#">Vezi mai mult</a>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>
<!-- Blog Section End -->
