
@{
     ViewBag.Title = "BlogDetails";
}


<!-- Blog Details Hero Begin -->
<section class="blog-hero spad">
     <div class="container">
          <div class="row d-flex justify-content-center">
               <div class="col-lg-9 text-center">
                    <div class="blog__hero__text">
                         <h2>Ești unul dintre miile de posesori de Iphone care habar n-are?</h2>
                         <ul>
                              <li>De Deercreative</li>
                              <li>Februarie 21, 2019</li>
                              <li>8 Comentarii</li>
                         </ul>
                    </div>
               </div>
          </div>
     </div>
</section>
<!-- Blog Details Hero End -->
<!-- Blog Details Section Begin -->
<section class="blog-details spad">
     <div class="container">
          <div class="row d-flex justify-content-center">
               <div class="col-lg-12">
                    <div class="blog__details__pic">
                         <img src="../Images/blog/details/blog-details.jpg" alt="">
                    </div>
               </div>
               <div class="col-lg-8">
                    <div class="blog__details__content">
                         <div class="blog__details__share">
                              <span>repost</span>
                              <ul>
                                   <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                   <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                   <li><a href="#" class="youtube"><i class="fa fa-youtube-play"></i></a></li>
                                   <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                              </ul>
                         </div>
                         <div class="blog__details__text">
                              <p>
                                   Hydroderm este crema anti-îmbătrânire foarte dorită pe bloc. Acest ser restricționează
                                   apariția îmbătrânirii timpurii cântă pe piele și menține pielea mai tânără, mai strânsă și
                                   mai sanatos. Reduce ridurile și slăbirea pielii. Această cremă hrănește pielea
                                   și readuce strălucirea care se pierduse în cursul anilor agitați.
                              </p>
                              <p>
                                   Cel mai esențial ingredient care face ca hydroderm să fie atât de eficient este Vyo-Serum, care este a
                                   produs din proteine naturale selectate. Acest concentrat lucrează activ în realizarea
                                   stralucirea naturala tinereasca a pielii. Strânge pielea împreună cu hidratarea acesteia
                                   efect asupra pielii. Celălalt ingredient important, care face ca hydroderm să fie atât de eficient este
                                   „colagenul marin” care împreună cu Vyo-Serum ajută la revitalizarea pielii.
                              </p>
                         </div>
                         <div class="blog__details__quote">
                              <i class="fa fa-quote-left"></i>
                              <p>
                                   „La proiectarea unei reclame pentru un anumit produs ar trebui să fie multe lucruri
                                   cercetat ca unde ar trebui să fie afișat.”
                              </p>
                              <h6>_ John Smith _</h6>
                         </div>
                         <div class="blog__details__text">
                              <p>
                                   VVyo-Serum împreună cu strângerea pielii reduce, de asemenea, liniile fine care indică îmbătrânirea
                                   piele. Probleme precum cercurile întunecate, umflarea și picioarele de cioara pot fi controlate din
                                   efecte puternice ale acestui ser.
                              </p>
                              <p>
                                   Hydroderm este un produs multifuncțional care ajută la reducerea celulitei și la dăruire
                                   corpul o formă tonifiată, de asemenea, ajută la curățarea pielii de la rădăcină și nu lasă
                                   porii se înfundă, cu toate acestea, să înlăturăm și ridurile și toate semnele de îmbătrânire
                                   de la sensibilul de lângă ochi.
                              </p>
                         </div>
                         <div class="blog__details__option">
                              <div class="row">
                                   <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="blog__details__author">
                                             <div class="blog__details__author__pic">
                                                  <img src="../Images/blog/details/blog-author.jpg" alt="">
                                             </div>
                                             <div class="blog__details__author__text">
                                                  <h5>Aiden Blair</h5>
                                             </div>
                                        </div>
                                   </div>
                                   <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="blog__details__tags">
                                             <a href="#">#Fashion</a>
                                             <a href="#">#Trending</a>
                                             <a href="#">#2020</a>
                                        </div>
                                   </div>
                              </div>
                         </div>
                         <div class="blog__details__btns">
                              <div class="row">
                                   <div class="col-lg-6 col-md-6 col-sm-6">
                                        <a href="" class="blog__details__btns__item">
                                             <p><span class="arrow_left"></span> Previous Pod</p>
                                             <h5>Este clasificat cum să utilizați site-urile gratuite de anunțuri clasificate</h5>
                                        </a>
                                   </div>
                                   <div class="col-lg-6 col-md-6 col-sm-6">
                                        <a href="" class="blog__details__btns__item blog__details__btns__item--next">
                                             <p>Următorul Pod <span class="arrow_right"></span></p>
                                             <h5>Sfaturi pentru alegerea luciului perfect pentru buzele tale</h5>
                                        </a>
                                   </div>
                              </div>
                         </div>
                         <div class="blog__details__comment">
                              <h4>Lasă un comentariu</h4>
                              <form action="#">
                                   <div class="row">
                                        <div class="col-lg-4 col-md-4">
                                             <input type="text" placeholder="Name">
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                             <input type="text" placeholder="Email">
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                             <input type="text" placeholder="Phone">
                                        </div>
                                        <div class="col-lg-12 text-center">
                                             <textarea placeholder="Comment"></textarea>
                                             <button type="submit" class="site-btn">Post Comment</button>
                                        </div>
                                   </div>
                              </form>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>
<!-- Blog Details Section End -->
